<div class="footer-dark">
    <footer style="background-color:rgb(255,255,255);color:rgb(247,240,240);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-md-2 item text">
                     <h3>Company Name</h3>
                    <p style="color:rgb(54,49,49);">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac
                        sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus.
                        Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col-lg-3 order-md-1 col-md-4 item">
                     <h3>Services</h3>
                    <ul>
                        <li><a href="#" style="color:rgb(18,17,17);">Web design</a>
                        </li>
                        <li><a href="#" style="color:rgb(20,18,18);">Development</a>
                        </li>
                        <li><a href="#" style="color:rgb(24,22,22);">Hosting</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 order-md-1 col-md-4 item">
                     <h3>About</h3>
                    <ul>
                        <li><a href="#" style="color:rgb(31,29,29);">Company</a>
                        </li>
                        <li><a href="#" style="color:rgb(11,9,9);">Team</a>
                        </li>
                        <li><a href="#" style="color:rgb(21,19,19);">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-4 item social"><a href="#"><i class="icon ion-social-facebook" style="color:rgb(10,9,9);"></i></a>
                    <a
                    href="#"><i class="icon ion-social-twitter" style="color:rgb(13,9,9);"></i>
                        </a><a href="#"><i class="icon ion-social-snapchat" style="color:rgb(13,7,7);"></i></a>
                        <a
                        href="#"><i class="icon ion-social-instagram" style="color:rgb(13,5,5);"></i>
                            </a>
                </div>
            </div>
            <p class="copyright" style="color:rgb(20,18,18);">Company Name &#xA9; 2016</p>
        </div>
    </footer>
</div>