<nav class="navbar navbar-light bg-light navigation-clean-button navbar-expand-md"
style="padding:-53px;margin:0px 20px 0px  20px;">
    <div class="container"> <a class="navbar-brand" href="#" style="background-image:url(&quot;assets/img/download.png&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;width:87px;"> </a>
        <button
        class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span>&#x2630;</button>
            <div class="collapse navbar-collapse"
            id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="active nav-item" role="presentation"><a href="#" class="nav-link">NEWSFEED </a>
                    </li>
                    <li role="presentation" class="nav-item"><a href="#" class="nav-link">EVENTS </a>
                    </li>
                    <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
                        href="#">MEMBERS <span class="caret"></span></a>
                        <ul class="dropdown-menu"
                        role="menu">
                            <li role="presentation" class="dropdown-item"><a href="#">First Item</a>
                            </li>
                            <li role="presentation" class="dropdown-item"><a href="#">Second Item</a>
                            </li>
                            <li role="presentation" class="dropdown-item"><a href="#">Third Item</a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation" class="nav-item"><a href="#" class="nav-link">MANIFESTO </a>
                    </li>
                </ul>
                <p class="navbar-text ml-auto actions">
                    <%= link_to 'Sign In', member_session_path, class: "navbar-link login" %>  
                    <%= link_to 'Sign Up', new_member_registration_path,class:  "btn btn-secondary action-button" %>
                </p>
            </div>
    </div>
</nav>