<div class="article-list" style="background-color:rgb(48,51,126);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color:rgb(184,188,191);">Latest Articles</h2>
            <p class="text-center" style="color:rgb(255,255,255);">Nunc luctus in metus eget fringilla. Aliquam sed
                justo ligula. Vestibulum
                nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row articles">
            <div class="col-lg-3 col-md-5 item">
                <div class="row img-art">
                    <%= link_to image_tag('desk.jpg', class: "img-fluid "), root_path %>
                </div>

                <div class="row">
                    <h3 class="name">Article Title</h3>
                </div>
                <div class="row">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo
                        suscipit id.</p><a href="#" class="action"><i
                            class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 item"> 
                <div class="row img-art">
                    <%= link_to image_tag('loft.jpg' , class: "img-fluid img-art"), root_path %>
                </div>
                <div class="row">
                    <h3 class="name">Article Title</h3>
                </div>
                <div class="row">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo
                        suscipit id.
                    </p>
                    <a href="#" class="action">
                        <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
            </div>
               
                <div class="col-lg-3 col-md-5 item">
                    <div class="row img-art">
                        <%= link_to image_tag('mountain_bg.jpg',:class =>"img-fluid img-art"), root_path %>
                    </div>
                    <div class="row">
                        <h3 class="name">Article Title</h3>
                    </div>
                    <div class="row">
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                            aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo
                            suscipit id.</p><a href="#" class="action"><i
                                class="glyphicon glyphicon-circle-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>