<div class=" jumbotron header-dark" >
    <div class="container">
        <div class= " hero">
        <div class="row"">
            <div class=" hero-text">
                 <h1 class=" display-4 text-center" >Lower Tax More Jobs &amp; More Money In Your Pokets.</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<%= render 'articles' %>