<div class="header-dark" >
    <div class="container">
        <div class= " hero">
        <div class="row"">
            <div class=" style="padding:40px;color:rgb(251,248,248);">
                 <h1 class="text-center" >Lower Tax More Jobs &amp; More Money In Your Pokets.</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<%= render 'articles' %>